:root {
    --color-black: #1c222e;
    --color-green: #41533b;
    --color-kaki: #9e9a75;
    --color-brown-1: #604439;
    --color-brown-0: #554840;
    --color-white: #fafafa;
    --color-black-2: #222;
    --color-blue: #00a0e9;
    --color-red: #e90000;
    --color-btn-menu: var(--color-kaki);
    --color-btn-menu-rel: #7c7a5f;
    --color-bg-form: var(--color-kaki);
    --color-bg-form-div: #fafafa;
    --color-btn-validation: yellow;
}

body {
    background-color: var(--color-green);
    font-family: 'Ubuntu Mono', monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem;
    background-color: var(--color-kaki);
    color: var(--color-black);
    border-bottom: .2rem solid var(--color-black);
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

header a {
    display: block;
    color: var(--color-black);
    text-decoration: underline;
    font-weight: 700;
    font-size: 2rem;
    transition: all .2s;
}

header a:hover {
    color: var(--color-green);
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 8rem;
}

nav ul li {
    margin: 1rem;
}

nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 0 2rem 1rem;
    appearance: none;
    background-color: var(--color-btn-menu);
    border-radius: 4px;
    border-width: 0;
    border: .2rem solid var(--color-black);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-btn-menu-rel) 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow .15s, transform .15s;
    will-change: box-shadow, transform;
}

nav ul li a:focus {
    box-shadow: var(--color-btn-menu-rel) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-btn-menu-rel) 0 -3px 0 inset;
}

nav ul li a:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-btn-menu-rel) 0 -3px 0 inset;
    transform: translateY(-2px);
}

nav ul li a:active {
    box-shadow: var(--color-btn-menu-rel) 0 3px 7px inset;
    transform: translateY(2px);
}

nav ul li a svg {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

nav ul li a p {
    color: var(--color-black);
    font-size: 1.6rem;
    font-weight: 700;
}


/*  */
/* CREATION MISSION */
/*  */

main.creation-mission {
    background-color: var(--color-green);
    padding: 4rem;
    color: var(--color-black);
}

main.creation-mission form {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-bg-form);
}

main.creation-mission form>div {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1rem;
}

main.creation-mission form>div label {
    display: block;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-black);
}

.btn-validation {
    background-color: var(--color-btn-validation);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-btn-validation) 0 -3px 0 inset;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: .2rem solid var(--color-black);
    padding: 1rem;

}