:root {
    /* --color-black: #1c222e;
    --color-green: #41533b;
    --color-kaki: #9e9a75;
    --color-desert-sand: #E1D5A5;
    --color-yellow-light: ##FFFCE3;
    --color-brown-1: #604439;
    --color-brown-0: #554840;
    --color-white: #fafafa;
    --color-black-2: #222;
    --color-blue: #00a0e9;
    --color-red: #e90000; */

    /* Green Camouflage Color Scheme  */
    --color-pine-tree: #252C25;
    --color-gray-asparagus: #4A5A3F;
    --color-desert-sand: #E1D5A5;
    --color-moss-green: #8E965B;
    /* Hide And Hide Color Scheme */
    --color-name-pine-tree: #2B3317;
    --color-light-yellow: #FFFCE3;
    --color-sage: #C1B893;
    --color-boy-red: #6E6354;
    --color-olive-drab-camouflage: #564B44;

    /* Site */
    /* Page base */
    --color-header-bg: var(--color-desert-sand);
    --color-header-ft: var(--color-pine-tree);
    --color-header-border: var(--color-pine-tree);
    --color-header-btn-ft: var(--color-pine-tree);
    --color-header-btn-ft-hover: var(--color-gray-asparagus);
    --color-main-bg: var(--color-gray-asparagus);
    --color-nav-btn-bg: var(--color-desert-sand);
    --color-nav-btn-border: var(--color-pine-tree);
    --color-nav-btn-focus: var(--color-pine-tree);
    --color-nav-btn-active: var(--color-pine-tree);
    --color-nav-btn-ft: var(--color-pine-tree);
    --color-form-bg: var(--color-moss-green);
    --color-form-border: var(--color-pine-tree);
    --color-form-ft: var(--color-pine-tree);
    --color-fieldset-border: var(--color-pine-tree);
    --color-fieldset-bg: var(--color-desert-sand);
    --color-fieldset-legend-ft: var(--color-fieldset-bg);
    --color-fieldset-legend-bg: var(--color-pine-tree);
    --color-fieldset-label-ft: var(--color-pine-tree);
    --color-form-btn-bg: var(--color-moss-green);
    --color-form-btn-border: var(--color-pine-tree);
    --color-form-btn-submit-bg: yellow;
    --color-form-btn-submit-border: var(--color-pine-tree);
    --color-popup-bg: var(--color-desert-sand);
    --color-popup-border: var(--color-pine-tree);
}

body {
    font-family: 'Ubuntu Mono', monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem;
    background-color: var(--color-header-bg);
    color: var(--color-header-ft);
    border-bottom: .2rem solid var(--color-header-border);
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
}

header a {
    display: block;
    color: var(--color-header-btn-ft);
    text-decoration: underline;
    font-weight: 700;
    font-size: 2rem;
    transition: all .2s;
}

header a:hover {
    color: var(--color-header-btn-ft-hover);
}

main {
    background-color: var(--color-main-bg);
    padding: 4rem;
    color: var(--color-main-ft);

}



main nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 8rem;
}

main nav ul li {
    margin: 1rem;
}

main nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 0 2rem 1rem;
    appearance: none;
    background-color: var(--color-nav-btn-bg);
    border-radius: 4px;
    border-width: 0;
    border: .2rem solid var(--color-nav-btn-border);
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-btn-menu-rel) 0 -3px 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow .15s, transform .15s;
    will-change: box-shadow, transform;
}

main nav ul li a:focus {
    box-shadow: var(--color-nav-btn-focus) 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-btn-menu-rel) 0 -3px 0 inset;
}

main nav ul li a:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, var(--color-nav-btn-hover) 0 -3px 0 inset;
    transform: translateY(-2px);
}

main nav ul li a:active {
    box-shadow: var(--color-nav-btn-active) 0 3px 7px inset;
    transform: translateY(2px);
}

main nav ul li a svg {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
}

main nav ul li a p {
    color: var(--color-nav-btn-ft);
    font-size: 1.6rem;
    font-weight: 700;
}


/* CREATION MISSION */

main.creation-mission form {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
    background-color: var(--color-form-bg);
    border: .2rem solid var(--color-form-border);
    border-radius: .2rem;
}

main.creation-mission form fieldset {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border: var(--color-fieldset-border) .1rem solid;
    background-color: var(--color-fieldset-bg);
    border-radius: .2rem;
}

main.creation-mission form fieldset legend {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--color-fieldset-legend-ft);
    background-color: var(--color-fieldset-legend-bg);
    margin: 0;
    padding: .4rem 1rem;
}

main.creation-mission form fieldset.debut-fin div {
    display: block;
}

main.creation-mission form fieldset label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-fieldset-label-ft);
    margin: 0 0 .2rem;
}

main.creation-mission form fieldset button {
    display: block;
    margin: .6rem 0 2rem;
    padding: .4rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--color-form-btn-bg);
    border: var(--color-form-btn-border) .1rem solid;
    color: var(--color-form-btn-ft);
    cursor: pointer;
    transition: all .1s;
}

main.creation-mission form fieldset .btn-plus {
    margin: 0 auto 2rem;
    text-align: center;
}

main.creation-mission form fieldset button:hover,
main.creation-mission form .btn-validation:hover {
    transform: scale(1.05);
}

main.creation-mission form fieldset button:active,
main.creation-mission form .btn-validation:active {
    transform: scale(.95);
}

main.creation-mission form .btn-validation {
    background-color: var(--color-form-btn-submit-bg);
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: .2rem solid var(--color-form-btn-submit-border);
    padding: 1rem;
    cursor: pointer;
    transition: all .1s;
}

main.creation-mission form>div:last-child {
    align-self: flex-end;
    margin: 1rem;
}


/* POPUP */

/* #cible,
#effectif,
#effectifPiroguier,
#transport,
#manoeuvre,
#communication {
    display: none;
} */

#cible.show,
#effectif.show,
#effectifPiroguier.show,
#transport.show,
#manoeuvre.show,
#communication.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}


#cible.show>div,
#effectif.show>div,
#effectifPiroguier.show>div,
#transport.show>div,
#manoeuvre.show>div,
#communication.show>div {
    display: flex;
    flex-direction: column;
    padding: .2rem 2rem;
    margin: 0 auto;
    background-color: var(--color-popup-bg);
    width: 12rem;
    border-left: .1rem solid var(--color-popup-border);
    border-right: .1rem solid var(--color-popup-border);
}

#cible.show>div:first-child,
#effectif.show>div:first-child,
#effectifPiroguier.show>div:first-child,
#transport.show>div:first-child,
#manoeuvre.show>div:first-child,
#communication.show>div:first-child {
    padding-top: 2rem;
    border-top: .1rem solid var(--color-popup-border);
}

#cible.show>div:last-child,
#effectif.show>div:last-child,
#effectifPiroguier.show>div:last-child,
#transport.show>div:last-child,
#manoeuvre.show>div:last-child,
#communication.show>div:last-child {
    border-bottom: .1rem solid var(--color-popup-border);
}