<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block stylesheets %}
        <!-- Copy CSS from https://getbootstrap.com/docs/5.0/getting-started/introduction/#css -->
      {% endblock %}
      {% block title %}
      {% endblock %}
    </title>
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <h1>
        {% block headerTitle %}{% endblock %}
      </h1>
      <a class="btn-menu" href="{{ path('menu') }}">
        MENU
      </a>
    </header>
    {% block content %}{% endblock %}
    <footer>
      <div id="app">
      <button @click="count++">
        Count is: ${ count }$
      </button>
    </div>
      </div>
    </footer>
    {% block javascripts %}{% endblock %}
    {{ encore_entry_script_tags('app') }}
  </body>
</html>
