{% extends 'base.html.twig' %}
{% block title %}
	Fiche bilan
{% endblock %}
{% block headerTitle %}
	Fiche bilan
{% endblock %}
{% block content %}
	<main class="carte">
		<div id="map" class="map">
			<div id="popup" class="ol-popup">
				<a href="#" id="popup-closer" class="ol-popup-closer"></a>
				<div id="popup-content"></div>
			</div>
		</div>
	</main>
{% endblock %}
