{% extends 'base.html.twig' %}

{% block title %}
  Mission Harpie
{% endblock %}
{% block headerTitle %}
  Type de la mission
{% endblock %}
{% block content %}
  <main>
    <nav>
      <ul class="choix-type-mission-list">
        <li class="choix-type-mission-list-item">
          <a href="{{
            path(
              'creation_mission',
              {
                type_mission: 'PLA'
              }
            )
            }}">
            <svg xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M3 3h18v18H3zM12 8v8m-4-4h8" />
            </svg>
            <p>
              PLA
            </p>
          </a>
        </li>

        <li class="choix-type-mission-list-item">
          <a href="{{
            path(
              'creation_mission',
              {
                type_mission: 'ANACONDA'
              }
            )
            }}">
            <svg id="outline"
              viewBox="0 0 340 340"
              xmlns="http://www.w3.org/2000/svg">
              <title />
              <path d="M301.159,125.715s-10.286-10.16-30.414-21.339a298.262,298.262,0,0,0-50.362-22.042,3.888,3.888,0,0,0-5.026,2.828,4.011,4.011,0,0,0,2.73,4.607q9.589,3.21,18.513,6.834l-15.82,8.642a5.589,5.589,0,0,1-4.651.323l-7.25-2.739a5.964,5.964,0,0,1-2.486-1.859,3.889,3.889,0,0,0-5.666-.389,4.024,4.024,0,0,0-.244,5.453,13.362,13.362,0,0,0,5.647,4.071l7.25,2.74a13.354,13.354,0,0,0,11.129-.774l21.212-11.587q9.979,4.455,19.014,9.438l-.831,8.216a15.9,15.9,0,0,0,3.032,11.114,17.773,17.773,0,0,1,3.524,7.533l-2.9,3.415a4.068,4.068,0,0,0,.319,5.623,3.889,3.889,0,0,0,5.488-.444s4.673-4.6,4.985-7.3c.616-5.335-2.813-10.285-5.173-13.463a8.14,8.14,0,0,1-1.538-5.694l.479-4.736a199.62,199.62,0,0,1,25.833,19.234l-7.144.595a7.707,7.707,0,0,1-1.46-.02,4.066,4.066,0,0,0-4.493,3.05,3.89,3.89,0,0,0,3.33,4.647,15.908,15.908,0,0,0,3.269.075l13.117-1.093a89.347,89.347,0,0,1,12.055,19.173,20.3,20.3,0,0,1-4.592-4.016,3.889,3.889,0,0,0-5.914-.215,84.063,84.063,0,0,1-9.647,8.9A11.192,11.192,0,0,0,292,173.486v.865a11.089,11.089,0,0,0,3.163,7.81,39.909,39.909,0,0,1,8.319,12.566,4.2,4.2,0,0,0,1.353,1.847,3.9,3.9,0,0,0,4.864-.173,54.346,54.346,0,0,1,8.129-5.525,4.05,4.05,0,0,0,1.84-5.187,3.89,3.89,0,0,0-5.388-1.74,64.073,64.073,0,0,0-5.64,3.508,48.981,48.981,0,0,0-7.919-10.739,3.4,3.4,0,0,1-.942-2.367v-.865a3.38,3.38,0,0,1,1.33-2.72,77.46,77.46,0,0,0,7.9-6.953,48.5,48.5,0,0,0,11.843,7.106c5.93,19.607,6.366,47.2-18.3,76.247-.035.042-.071.086-.1.129-.122.156-12.488,15.836-35.762,30.674a172.8,172.8,0,0,1-93.236,27.051q-4.958,0-10.107-.28A186.986,186.986,0,0,1,98.22,288.881c-11.828-5.2-22.426-10.447-31.5-15.579-.44-.249-.89-.475-1.336-.711,4.695-2.586,11.641-6.747,22.079-13.356,4.87,1.016,10.513,2.244,17.891,4.038a279.451,279.451,0,0,0,33.467,4.876l-11.4,13.774a4.847,4.847,0,0,1-5.215,1.561l-.092-.03a4.979,4.979,0,0,1-2.952-2.523l-4.005-8.15a3.952,3.952,0,0,0-4.487-2.151,3.892,3.892,0,0,0-2.539,5.49l4.05,8.242a12.8,12.8,0,0,0,7.573,6.5l.093.03a12.579,12.579,0,0,0,13.566-4.013l14.926-18.033c4.736.275,9.713.451,14.856.484l13.268,13.7a9.377,9.377,0,0,0,6.7,2.836h4.128a9.325,9.325,0,0,0,8.126-4.751l1.606-2.852a4.038,4.038,0,0,0-1.2-5.382,3.888,3.888,0,0,0-5.474,1.375l-1.714,3.043a1.547,1.547,0,0,1-1.348.788H183.16a1.548,1.548,0,0,1-1.111-.47l-8.175-8.439a193.048,193.048,0,0,0,34.534-4.133,3.835,3.835,0,0,0,1.159-.268c16.191-3.691,29.895-9.592,40.855-17.594a85.389,85.389,0,0,0,10.611,5.3l-1.71,8.809a3.825,3.825,0,0,1-2.228,2.778l-3.428,1.493a3.813,3.813,0,0,1-2.5.191l-13-3.44a4.038,4.038,0,0,0-4.909,2.507,3.889,3.889,0,0,0,2.706,4.956l13.212,3.5a11.643,11.643,0,0,0,7.6-.579L260.2,271.2a11.609,11.609,0,0,0,6.759-8.428l2.325-11.977a3.892,3.892,0,0,0-2.5-4.4,85.252,85.252,0,0,1-9.89-4.476A72.231,72.231,0,0,0,269.477,227.1c9.049-14.222,12.133-30.695,8.684-46.386-3.543-16.122-13.381-28.68-28.449-36.317-15.845-8.03-37.607-10.864-64.882-8.482a132.012,132.012,0,0,0-23.7,3.136,74.423,74.423,0,0,0-8.3,1.335,97.951,97.951,0,0,1-26.247,2.223,2.612,2.612,0,0,1-2.127-1.3,2.411,2.411,0,0,1-.1-2.329c6.766-13.862,26.809-18.993,35.112-20.556A69.738,69.738,0,0,0,199.862,95.17c1.2-1.424,2.367-2.905,3.463-4.4a66.61,66.61,0,0,1,16.2-15.73c8.105-5.541,16.253-10.158,16.334-10.2.051-.029.1-.06.152-.091,7.3-4.579,11.817-10.9,13.057-18.279a15.74,15.74,0,0,0-2.923-12.072A16.819,16.819,0,0,0,234.5,27.836c-29.24-3.339-49.877,7.127-62.06,16.528a65.574,65.574,0,0,0-14.209,15.319l-.255.374A37.7,37.7,0,0,1,151.28,67.4c-19.9-.977-66.316-.4-101.663,22.107A90.008,90.008,0,0,0,8.936,152.329,92.7,92.7,0,0,0,27.93,223.258a3.893,3.893,0,0,0,5.592.529h0a3.888,3.888,0,0,0,.505-5.359,84.923,84.923,0,0,1-17.4-64.961A82.231,82.231,0,0,1,53.8,96.068c27.291-17.375,61.9-20.932,84.116-21.146a42.205,42.205,0,0,1-5.791,1.516,113.033,113.033,0,0,0-15.683,4.16c-.022.007-.044.009-.066.016a105.185,105.185,0,0,0-19.252,8.768,81.911,81.911,0,0,0-14.033,10.661l-.034.032q-.9.854-1.768,1.729l-.009.009c-2.891,2.482-7.527,8.785-8.685,10.468-14.2,20.64-12.345,39.354-8.291,51.418a63.966,63.966,0,0,0,8.617,16.752l.1.132a45.047,45.047,0,0,0,3.628,4.479,48.39,48.39,0,0,0,5.092,4.65c12.75,10.632,28.917,15.731,30.59,16.239,16.168,5.747,31.781,6.875,42.111,6.966,7.441.065,13.438-.289,17.147-.562a8.643,8.643,0,0,1,6.139,1.964l4.863,4.023c3.8,3.146,7.756,5.052,15.234,4.793a3.994,3.994,0,0,0,3.9-3.812,3.888,3.888,0,0,0-4.221-3.96,13.656,13.656,0,0,1-9.955-3.015l-2.032-1.681c17.182-3.606,24.979-12.428,28.484-20.189a30.646,30.646,0,0,0,2.67-12.9c0-.057,0-.116,0-.173a33.314,33.314,0,0,0-6.381-19.028,44.143,44.143,0,0,0-6.151-6.858,3.968,3.968,0,0,0-5.023-.326,3.893,3.893,0,0,0-.277,6.02,36.408,36.408,0,0,1,5.152,5.727,25.867,25.867,0,0,1,4.552,10.715,58.056,58.056,0,0,0-11.118.719,5.35,5.35,0,0,1-4.6-1.4l-.151-.148a5.292,5.292,0,0,1-1.586-3.949,59.011,59.011,0,0,0-1.776-15.66,3.889,3.889,0,1,0-7.569,1.794,51.292,51.292,0,0,1,1.569,13.639,13.093,13.093,0,0,0,3.942,9.756l.152.148a13.12,13.12,0,0,0,9.126,3.67c.725,0,7.888-.926,12.106-.785a22.532,22.532,0,0,1-1.722,5.84c-4.895,10.839-17.463,16.763-36.481,17.251.068-4.4-1.281-9.607-6.21-12.609a12.463,12.463,0,0,0-9.6-1.276c-7.853,2.056-46.314,10.819-68.692-7.572a41.567,41.567,0,0,1-7.622-8.5,3.825,3.825,0,0,0-.334-.412c-6.6-9.869-16.621-31.8,1.03-57.465.566-.822,1.155-1.628,1.757-2.425a43.252,43.252,0,0,0,9.9,1.163h.113a3.834,3.834,0,0,0,3.66-2.563,3.9,3.9,0,0,0-3.67-5.216H90.75a35.849,35.849,0,0,1-4.075-.233h0c8.613-9.825,21.487-15.159,22.478-15.612l.021-.01a33.537,33.537,0,0,0-1.093,4.513,12.487,12.487,0,0,1-4.815,8.236,3.98,3.98,0,0,0-1.275,5.06,3.89,3.89,0,0,0,5.667,1.361,20.068,20.068,0,0,0,8.088-13.339,22.341,22.341,0,0,1,2.9-8.006c.435-.7.9-1.375,1.38-2.029q3.909-1.289,7.794-2.252a89.6,89.6,0,0,1,15.126,7.615,10.264,10.264,0,0,0,15.889-7.574,3.89,3.89,0,0,0-7.744-.743,2.484,2.484,0,0,1-3.848,1.833,72.8,72.8,0,0,0-7.091-4.084,47.037,47.037,0,0,0,24.226-17.912l.3-.444A57.8,57.8,0,0,1,177.19,50.522c11.064-8.538,29.851-18.043,56.6-14.938a8.852,8.852,0,0,1,5.724,2.957,8.074,8.074,0,0,1,1.883,6.632c-.87,5.176-4.049,9.527-9.448,12.933-.936.532-8.772,5.011-16.813,10.509a74.342,74.342,0,0,0-18.086,17.56c-.989,1.353-2.041,2.69-3.127,3.976a61.935,61.935,0,0,1-35.886,20.627c-11.748,2.212-32.651,8.372-40.665,24.788a10.2,10.2,0,0,0-.913,6.037c-7.035-1.337-15.3-4.254-19.354-10.13a4,4,0,0,0-4.661-1.627,3.9,3.9,0,0,0-1.889,5.828,27.655,27.655,0,0,0,10.269,8.846l-3.037,1.593a4.679,4.679,0,0,1-5.915-1.355,2.231,2.231,0,0,1-.347-.959,3.889,3.889,0,0,0-4.91-3.049,4.027,4.027,0,0,0-2.7,4.685,9.985,9.985,0,0,0,2.073,4.425A12.484,12.484,0,0,0,101.4,153l9.114-4.78a66.417,66.417,0,0,0,15.769,2.16,105.979,105.979,0,0,0,28.551-2.471l0,0-6.418,11.375a3.537,3.537,0,0,1-1.355,1.3l-10.05,1.223a5.1,5.1,0,0,1-2.137-2.077l-1.756-3.179a4.037,4.037,0,0,0-5.2-1.813,3.889,3.889,0,0,0-1.711,5.381l1.861,3.371a12.874,12.874,0,0,0,7.16,5.985,3.872,3.872,0,0,0,1.247.205,3.912,3.912,0,0,0,.47-.028l11.295-1.374c.105-.013.21-.03.314-.052a10.661,10.661,0,0,0,6.641-5.117l9.455-16.76q10.725-1.785,20.085-2.638c12.619-.469,23.613,1.508,32.746,5.885a41.48,41.48,0,0,1-2.608,10.192,3.989,3.989,0,0,0,1.893,5.031,3.889,3.889,0,0,0,5.305-2.078,50.587,50.587,0,0,0,2.614-8.919A47.789,47.789,0,0,1,234.1,162.6c8.857,10.817,12.759,25.515,10.705,40.327-3.358,24.218-16.094,42.528-37.847,54.441-46.091,10.058-99.077-1.5-99.826-1.671-8.238-2-14.346-3.31-19.625-4.4h0l-.251-.052c-1.068-.22-32.616-6.679-49.7-14.933-1.37-.662-2.689-1.542-4.079-2.338a11.656,11.656,0,0,0-14.488,2.2,11.4,11.4,0,0,0-.221,15.055c1.4,1.679,2.879,3.38,4.381,5.053a70.877,70.877,0,0,0,31.42,20.163,43.559,43.559,0,0,1,8.329,3.628c9.3,5.26,20.132,10.62,32.2,15.929a194.745,194.745,0,0,0,67.828,16.506q5.373.3,10.551.292a180.542,180.542,0,0,0,97.681-28.449c23.748-15.2,36.332-30.867,37.387-32.208,29.578-34.872,25.913-68.034,17.627-89.72A98.06,98.06,0,0,0,301.159,125.715ZM156.585,198.169a4.668,4.668,0,0,1,3.581.393c2.236,1.362,2.55,4.189,2.435,6.28-1.877.142-3.852.236-5.994.272-.025,0-.048.008-.073.009a124.949,124.949,0,0,1-28.484-2.777A134.147,134.147,0,0,0,156.585,198.169ZM252.505,204c2.35-16.951-2.166-33.835-12.392-46.323a55.8,55.8,0,0,0-12.164-11.041.784.784,0,0,1,.608-1.413c28.035,5.928,38.649,21.886,42.007,37.163,3,13.669.287,28.067-7.65,40.541s-19.487,21.113-32.768,27.016C242.443,237.863,249.941,222.49,252.505,204ZM55.932,268.7a63.037,63.037,0,0,1-27-17.619c-1.442-1.6-2.855-3.235-4.2-4.845a3.626,3.626,0,0,1-.019-4.8,3.507,3.507,0,0,1,4.622-.871c1.463.812,2.895,1.632,4.259,2.438a70.117,70.117,0,0,0,6.675,3.455l.458,7.151a3.889,3.889,0,0,0,7.763-.5l-.224-3.49c8.311,2.214,18.79,5.116,28.165,7.325C67.33,262.559,58.781,267.543,55.932,268.7Z" />
              <path d="M281.893,220.146l-.759.823h0a12.67,12.67,0,0,0-3.363,8.62,127.3,127.3,0,0,0,.632,14.672,3.888,3.888,0,0,0,4.984,3.32,134.326,134.326,0,0,1,14.427-2.838,12.708,12.708,0,0,0,10.557-14.655,74.693,74.693,0,0,1-.956-13.568,3.889,3.889,0,0,0-4.992-3.877c-5.138,1.524-11.1,3.014-14.187,3.767A12.665,12.665,0,0,0,281.893,220.146Zm17.794,1.356a77.656,77.656,0,0,0,1.019,9.917,4.887,4.887,0,0,1-1.255,4.124,4.943,4.943,0,0,1-2.846,1.517c-3.309.52-7.383,1.209-10.841,1.94-.191-3.117-.213-5.947-.216-9.417a4.915,4.915,0,0,1,1.306-3.342l.758-.823a4.921,4.921,0,0,1,2.46-1.449C292.275,223.434,295.9,222.531,299.687,221.5Z" />
              <path d="M65.783,115.075A3.889,3.889,0,0,0,62.548,108a19.158,19.158,0,0,0-6.884,5.341c-3.238,4-9.675,10.918-16.406,12.37a3.889,3.889,0,0,0,.092,7.622c.026,0,2.6.647,3.8,4.166a24.416,24.416,0,0,0,8.7,14.777,3.889,3.889,0,1,0,4.905-6.037,16.275,16.275,0,0,1-5.922-9.967,3.878,3.878,0,0,0-.155-.783,15.494,15.494,0,0,0-2.586-5.028c5.531-3.168,10.255-8.076,13.616-12.223A11.341,11.341,0,0,1,65.783,115.075Z" />
              <path d="M58.522,166.787a3.891,3.891,0,0,0-5.49.351,16.16,16.16,0,0,0-3.955,11.846,58.358,58.358,0,0,1-1.819,20.178,3.89,3.89,0,0,0,3.517,4.96c3.259.184,12.688,1.186,17.125,3.576a20.047,20.047,0,0,0,9.092,1.767,38.206,38.206,0,0,0,10.851-1.617,3.89,3.89,0,0,0-2.26-7.444c-6.614,2.009-12.468,1.267-14,.445-4.419-2.38-11.214-3.537-15.755-4.074a68.741,68.741,0,0,0,1-18.389,8.338,8.338,0,0,1,2.041-6.11A3.89,3.89,0,0,0,58.522,166.787Z" />
              <path d="M150.119,234.642a3.872,3.872,0,0,0,1.75-.418,16.194,16.194,0,0,0,5.478-4.547c1.32-1.712,2.578-3.471,3.739-5.229a3.889,3.889,0,1,0-6.491-4.287c-1.057,1.6-2.2,3.2-3.408,4.765a8.358,8.358,0,0,1-2.823,2.354,3.89,3.89,0,0,0,1.755,7.362Z" />
              <path d="M138.6,234.4c-2.312-3.468-6.185-6.27-11.512-8.33a13.492,13.492,0,0,1-8.226-9.037,3.89,3.89,0,0,0-7.52,1.991,21.293,21.293,0,0,0,12.942,14.3c3.747,1.448,6.459,3.312,7.844,5.389A3.889,3.889,0,0,0,138.6,234.4Z" />
              <path d="M207.661,220.531a3.889,3.889,0,1,0,7.778,0,14.133,14.133,0,0,1,2.947-7.747,21.222,21.222,0,0,0,4.63-14.135,3.89,3.89,0,0,0-7.77.376,13.452,13.452,0,0,1-2.968,8.942A21.671,21.671,0,0,0,207.661,220.531Z" />
              <path d="M177.382,76.009a3.87,3.87,0,0,0,1.852-.472,22.1,22.1,0,0,0,8.9-8.959A27.363,27.363,0,0,1,199.39,55.585a3.889,3.889,0,0,0-3.632-6.878,35.12,35.12,0,0,0-14.44,14.119,14.451,14.451,0,0,1-5.794,5.874,3.89,3.89,0,0,0,1.858,7.309Z" />
              <path d="M212.2,51.584a3.836,3.836,0,0,0,.61-.048c1.8-.282,2.916-.364,2.944-.366a3.89,3.89,0,0,0-.529-7.761c-.057,0-1.443.1-3.626.444a3.889,3.889,0,0,0,.6,7.731Z" />
              <circle cx="159.213" cy="100.405" r="3.889" />
              <circle cx="111.822" cy="120.744" r="3.889" />
              <circle cx="81.241" cy="156.793" r="3.889" />
              <circle cx="144.404" cy="180.36" r="3.889" />
              <circle cx="178.31" cy="185.414" r="3.889" />
              <circle cx="220.217" cy="232.973" r="3.889" />
              <circle cx="134.263" cy="250.854" r="3.889" />
              <circle cx="41.366" cy="208.453" r="3.889" />
              <circle cx="29.62" cy="129.937" r="3.889" />
              <circle cx="206.605" cy="120.745" r="3.889" />
              <circle cx="306.249" cy="205.575" r="3.889" />
              <circle cx="186.049" cy="295.436" r="3.889" />
            </svg>
            <p>
              ANACONDA
            </p>
          </a>
        </li>
        <li class="choix-type-mission-list-item">
          <a href="{{
            path(
              'creation_mission',
              {
                type_mission: 'PCL'
              }
            )
            }}">
            <svg xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path d="M3 3h18v18H3zM12 8v8m-4-4h8" />
            </svg>
            <p>
              PLC
            </p>
          </a>
        </li>
      </ul>
    </nav>
  </main>
{% endblock %}
