{% extends 'base.html.twig' %}

{% block title %}
  Mission Harpie
{% endblock %}
{% block headerTitle %}
  Création mission
{% endblock %}
{% block content %}
  <main class="creation-mission">
  <form>
    {{form_row(formFicheODE.numeroMission, {'attr':{'placeholder': "Numéro de mission"}})}}
    {{form_row(formFicheODE.force, {'attr':{'placeholder': "Force"}})}}
    {{form_row(formTypeMission.libelle)}}
  </form>
    
  </main>
{% endblock %}
