{% extends 'base.html.twig' %}

{% block title %}
  Mission Harpie
{% endblock %}
{% block headerTitle %}
  Création mission
{% endblock %}
{% block content %}
  <main class="creation-mission"></main>
{% endblock %}
